.container {
  background-color: black;
  color: white;
  padding-bottom: 40px;
}

h3  {
  font-size: 40px;
  text-align: center;

}
.jumbotron {
  color: black;
  /*font-size: 36px;*/
  margin-top: 20px;
}
