body{
  background-color: #1CB5B2;
}
button {
  background-color: #1CB5B2;
  color: white;
}
.container {
  background-color: black;
  color: white;
  padding-bottom: 40px;
}

h3  {
  font-size: 60px;
  text-align: center;

}
.jumbotron {
  color: black;
  font-size: 36px;
  margin-top: 20px;
  text-align: center;
}
